
.photo {
    width: 180px;
}
.heading_one {
    font-size: 25px;
    font-family: 'Courier New', monospace;
    background-color: rgb(224, 224, 189);
    width: 250px;
}
h2 {
    font-size: 22px;
    font-family: monospace;
}
h3 {
    font-size: 20px;
    font-family: monospace;
}
p {
    font-size: 17px;
    font-family: monospace;
}
.contacts {
    color: rgb(47, 2, 89);
    background-color: rgb(113, 250, 195);
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
}
.first_part {
    background-color: rgb(224, 224, 189);
    width: 250px;
    max-width: 250px; 
    display: inline-block;
    vertical-align: top;
}
        
.expertise {
    background-color: rgb(224, 224, 189);
    width: 250px;
    display: inline-block;
    max-width: 250px;
    vertical-align: top;
}
.awards {
    background-color: rgb(224, 224, 189);
    display: inline-block;
    max-width: 250px;
    vertical-align: top;
}
.experience {
  background-color: rgb(224, 224, 189);   
  display: inline-block;
  max-width: 250px;
  vertical-align: top;
  overflow: scroll;
  max-height: 440px;
}
.background_of_page {
    background-image: url(./img/mrfresh.jpg);
}
* {
    margin: 0;
    padding: 0;
   }