
body {
    margin: 0;
    padding: 0;
}.page_wrapper {
    color: white;
    font-family: "Josefin Sans", sans-serif;
}
.mountains_section {
    margin: 0 auto;
    max-width: 1770px;
    position: relative;
    margin-bottom: -5px;
    width: 100%;

}
.mountains_pic {
    margin: 0 auto;
    width: 100%;
}

.mountains_text {
max-width: 372px;
position: absolute;
top: 205px;
left: 518px;
}

.heading_bhromaon {
    font-size: 48px;
    font-weight: 800;
    line-height: 26px;
    display: inline-block;
    text-align: center;
    margin-bottom: 11px;
    letter-spacing: 4.8px;
    margin-left: 3px;
}
.mountains_paragraph {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    display: inline-block;
    text-align: center;
    margin-top: 0px;
    letter-spacing: 6.82px  ;
}
.mountains_search {
  width: 500px;
  font-size: 14px;
  line-height: 26px;
  color: rgba(153, 153, 153, 1);
  letter-spacing: 2.8px;
  border: none;
  padding: 0;
  display: flex; 
  justify-content: center;
}
.search_bar {
    width: 653px;
    height: 63px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 373px;
    left: 396px;
    
}

.search_button {
    color: white;
    background-color: rgba(84, 116, 253, 1);
    font-size: 14px;    
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    letter-spacing: 1.4px;
    width: 150px;
    height: 60px;
    border: none;
    font-family: "Aleo", serif;
}
.search_icon {
    width: 22px;
    height: 24px;
}
.scroll_down {
    position: absolute;
    top: 539px;
    left: 653px;
}
.scroll_icon {
    position: absolute;
    left: 39px;
    top: 40px;
    width: 17px;
}
.scroll_down_text {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2.8px;
}
.header {
 background-color: rgba(84, 116, 253, 1);
 margin: 0 auto;
 padding: 0;
 max-width: 1770px;
 height: 80px;
 margin-bottom: -5px;
}
.bhromaon_head {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 2.4px;
    text-decoration: none;
    margin-right: 410px;
    color: white;
    display: flex;
    align-items: center;
   

    &:hover {
        color:rgb(124, 137, 221);
    }
}
.navigation {
    max-width: 525px;
    display: flex;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    column-gap: 15px;
}
.nav_items {
    text-decoration: none;
    font-family: "Aleo", serif;
    color: white;

    &:hover {
        color:rgb(124, 137, 221);
    }
}
.header_div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.choose_section {
    max-width: 1770px;
    margin: 0 auto;
    position: relative;
    margin-bottom: -83px;
    width: 100%;
}
.building_pic {
    width: 100%;
    max-width: 1770px;
}
.whychooseus_wrapper {
    max-width: 560px;
    position: absolute;
    top: 90px;
    left: 167px;
    z-index: 2;
}
.whychooseus_heading {
    font-family: "Aleo", serif;
    font-size: 36px;
    margin-bottom: 50px;
}
.titon_text {
    font-size: 16px;
    letter-spacing: 1.6px;
    margin-top: 0px;
    margin-bottom: 45px;
}
.explore_button {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 21px;
    padding-bottom: 16px;
    border: none;
    background-color: rgba(84, 116, 253, 1);
    font-size: 16px;
    letter-spacing: 1.2px;
    font-family: "Aleo", serif;
    text-transform: uppercase;
    color: white;
}
.lake_pic {
    position: absolute;
    top: 45px;
    right: 185px;
}
.small_mount_pic {
    position: absolute;
    right: 60px;
    bottom: 35px;
}
.explanation {
    max-width: 1770px;
    margin: 0 auto;
    height: 337px;
    background-color: rgba(51, 51, 51, 1);
    font-size: 36px;
    font-family: "Aleo", serif;
}
.explanation_wrapper {
    display: flex;
    padding-top: 120px;
    justify-content: center;
    column-gap: 150px;
}
.big_search_icon, .round_icon, .finger_up_class {
    margin-left: 70px;
}
.big_search_icon {
    height: 59px;
    margin-bottom: 5px;
    
}
.fancy_house {
    width: 100%;
}
.grand_spain_madrid {
    margin: 0 auto;
    max-width: 1770px;
    position: relative;
}
.spain_madrid_wrapper {
    height: 370px;
    width: 540px;
    background-color: rgba(35, 35, 35, 0.85);
    position: absolute;
    top: 110px;
    left: 200px;
}
.spain_text {
    font-size: 20px;
    letter-spacing: 1.6px;
    margin-left: 30px;
    padding-top: 47px;
    margin-bottom: 0px;
}
.spain_heading {
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 23px;
}
.spain_explaining {
    font-size: 16px;
    width: 508px;
    margin-left: 30px;
    margin-top: 13px;
    margin-bottom: 0px;
}
.booking_button {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 21px;
    padding-bottom: 20px;
    border: none;
    background-color: rgba(84, 116, 253, 1);
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-family: "Aleo", serif;
    margin-left: 30px;
    margin-top: 46px;
}

