body {
  font-family: "Poppins";
  margin: 0px;
}

.header {
  margin-top: 20px;
  max-width: 1126px;
  width: 90%;
  margin: 0% auto;
  display: flex;
  justify-content: space-between; 
}

.logo {
  width: 187px;
  margin-top: 22px;
  max-height: 32px;
  margin-right: 320px;
  margin-bottom: 54px;
}

nav {
  margin-top: 24px;
  margin-bottom: 26px;
  font-size: 14px;
  cursor: pointer;
}

nav a {
  color: #2f281e;
  text-decoration: none;
}

nav :not(:last-child) {
  margin-right: 15px;
}

.sign_in {
  width: 102px;
  height: 46px;
  background-color: white;
  border-radius: 5px;
  border-color: #bcd0e5;
  border-width: 1px;
  border-style: solid;
  margin-top: 15px;
  margin-left: 29px;
  margin-right: 14px;
  font-weight: bolder;
  font-size: 16px;
}

.sign_up {
  width: 102px;
  height: 46px;
  background-color: #ff9900;
  color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: #ff9900;
  margin-top: 15px;
  font-weight: bolder;
  font-size: 16px;
}

.first_section {
  margin-top: 30px;
  max-width: 1126px;
  margin: 0% auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 44px;
  font-weight: bold;
  color: #2f281e;
  max-width: 518px;
  margin-bottom: 30px;
}

h4 {
  width: 458px;
  color: #544837;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0pc;
}

.img_people {
  width: 605px;
}

.first_text {
  display: inline;

  width: 518px;
}

.get_started {
  width: 175px;
  height: 53px;
  background-color: #ff9900;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-style: solid;
  border-radius: 5px;
  border-color: #ff9900;
  margin-top: 45px;
  cursor: pointer;
}

.video_button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #ff9900;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
  margin-left: 30px;
  max-width: 180px;
}

.video_button::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 17px;
  background-image: url(./img/TriangleCopy6.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: -2px;
  margin-right: 9px;
}

.get_started.video_button {
  display: inline-block;
}

.section_two {
  max-width: 1126px;
  margin: 0% auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.super {
  max-width: 539px;
  margin: 0% auto;
  width: 90%;
  display: flex;
}
.superpower {
  font-size: 36px;
  margin-top: 111px;
  width: 539px;
  text-align: center;
  font-weight: bold;
}

.fa-arrow-pointer {
  width: 12px;
  height: 18px;
  margin-top: 17px;
  margin-left: 19px;
  color: white;
}

.fa-stumbleupon {
  width: 18px;
  height: 18px;
  margin-top: 17px;
  margin-left: 16px;
  color: white;
}

.fa-heart {
  width: 16px;
  height: 16px;
  margin-top: 17px;
  margin-left: 17px;
  color: white;
}

.clock {
  width: 14px;
  height: 18px;
  margin-top: 17px;
  margin-left: 18px;
}

.arrow_div, .wave_div, .heart_div, .clock_div {
  width: 50px;
  height: 50px;
  border-radius: 19px;
}

.arrow_div {
  background-color: #7752be;
}

.wave_div {
  background-color: #fab005;
}

.heart_div {
  background-color: #f03e3d;
}

.clock_div {
  background-color: #4dadf7;
}

h3 {
  font-size: 22px;
  font-weight: bolder;
  color: #2f281e;
  margin-top: 30px;
}

p {
  font-size: 16px;
  font-weight: normal;
  color: #544837;
  margin-top: 13px;
}

.superpower-div {
  max-width: 1095px;
  margin: 0 auto;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 54px;
}

.div_superpower {
  width: 240px;
  vertical-align: top;
  flex-direction: column;
}

.div_superpower:not(:last-child) {
  margin-right: 45px;
}

.last_button {
  width: 175px;
  height: 53px;
  background-color: #ff9900;
  color: white;
  border-radius: 4px;
  border-style: none;
  font-size: 16px;
  font-weight: bold;
  margin-top: 34px;
  text-align: center;
  margin-bottom: 210px;
}
.div_last_button {
  max-width: 175px;
  margin: 0% auto;
}
.design_section {
  max-width: 1115px;
  margin: 0 auto;
  width: 100%;
}
.design_div_text {
  max-width: 486px;
  display: inline-block;
  color: rgba(47, 40, 30, 1);
  margin-top: 26px;
}
.design_first_p {
  font-size: 16px;
  margin-bottom: 3px;
  font-weight: 500;
}
.design_heading {
  margin-top: 0px;
  font-size: 36px;
  margin-bottom: 0px;
}
.design_second_p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 0px;
}
.design_third_p {
  font-size: 16px;
  font-weight: bold;
  color: rgba(47, 40, 30, 1);
  margin-top: 25px;
  margin-bottom: 0px;
}
.design_forth_p {
  font-size: 16px;
  color: rgba(84, 72, 55, 1);
  margin-top: 12px;
  margin-bottom: 0px;
  font-weight: 500;
}
.design_fifth_p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 28px;
  color: rgba(47, 40, 30, 1);
  margin-bottom: 0px;
}
.design_sixth_p {
  font-size: 16px;
  color: rgba(84, 72, 55, 1);
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 0px;
}
.design_seventh_p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  color: rgba(47, 40, 30, 1);
  margin-bottom: 0px;
}
.design_eight_p {
  font-size: 16px;
  color: rgba(84, 72, 55, 1);
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 0px;
}
.design_pic {
  display: inline-flex;
  margin-left: 104px;
  width: 520px;
}
.product_section {
  max-width: 1126px;
  margin: 0 auto;
  margin-top: 102px;
}
.product_pic {
  width: 535px;
  display: inline-flex;
  margin-right: 100px;
}
.product_div_text {
  width: 486px;
  display: inline-block
}
.product_first_p {
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: 500;
}
.product_heading {
  margin-top: 3px;
  font-size: 36px;
  margin-bottom: 0px;
}
.product_second_p {
  font-size: 16px;
  color: rgba(84, 72, 55, 1);
  font-weight: 500;
  margin-top: 22px;
  margin-bottom: 0px;
}
.product_list {
  list-style-type: none;
  font-size: 16px;
  color: rgba(84, 72, 55, 1);
  font-weight: 500;
  margin-top: 30px;
}
.product_list::before {
  content: "";
  background-image: url(./img/tick.svg);
  background-color: #ff9900;
}
.market_section {
  width: 1115px;
  margin: 0 auto;
  margin-top: 104px;
}
.market_div {
  width: 486px;
  display: inline-block;
}
.market_first_p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
}
.market_heading {
  margin-top: 3px;
  font-size: 36px;
  margin-bottom: 0px;
}
.market_second_p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 22px;
  margin-bottom: 0px;
}
.market_third_p {
  font-size: 16px;
  font-weight: bold;
  color: rgba(47, 40, 30, 1);
  margin-top: 30px;
  margin-bottom: 0px;
}
.market_fourth_p {
  font-size: 16px;
  color: rgba(84, 72, 55, 1);
  margin-top: 12px;
  margin-bottom: 0px;
  font-weight: 500;
}
.market_fifth_p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  color: rgba(47, 40, 30, 1);
  margin-bottom: 0px;
}
.market_sixth_p {
  font-size: 16px;
  color: rgba(84, 72, 55, 1);
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 0px;
}
.market_seventh_p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  color: rgba(47, 40, 30, 1);
  margin-bottom: 0px;
}
.market_eight_p {
  font-size: 16px;
  color: rgba(84, 72, 55, 1);
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 0px;
}
.market_div_pic {
  width: 542px;
  margin-left: 82px;
  display: inline-flex;
}
.footer {
  width: 1180px;
  margin: 0 auto;
  margin-top: 146px;
}
.footer_logo {
  width: 185px;
  display: inline-flex;
  margin-right: 126px;
  margin-bottom: 173px;
}
.div_footer_logo {
  display: inline-block;
  width: 185px;
  margin-right: 126px;
}
.footer_a {
  font-size: 16px;
  text-decoration: none;
  color: rgba(84, 72, 55, 1);
}
.footer_first_div {
  width: 72px;
  display: inline-block;
  line-height: 35px;
}
.footer_a:not(:last-child) {
  margin-bottom: 15px;
}
.footer_second_div {
  display: inline-block;
  width: 132px;
  margin-left: 129px;
  line-height: 35px;
}
.footer_input {
  width: 325px;
  height: 48px;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(188, 208, 229, 1);
  border-style: solid;
  display: inline-flex;
}
.footer_button {
  width: 131px;
  height: 39px;
  background-color: rgba(255, 153, 0, 1);
  border-radius: 4px;
  border: transparent;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: bold;
  margin-top: 21px;
}
.footer_third_div {
  width: 325px;
  height: 199px;
  display: inline-block;
  margin-left: 82px;
}