.page_wrapper {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  height: 300px;
  position: absolute;
  left: 400px;
  transition: all 2s ease;
}
.page_wrapper:hover {
  background-color: #9b99f8;
}

.text {
  font-family: Sacramento, Arial;
  color: gold;
  font-size: 3em;
  position: relative;
  left: 95px;
  top: 30px;
  width: 300px;
}

.text_two {
  font-family: Sacramento, Arial;
  color: gold;
  font-size: 2.5em;
  position: relative;
  left: 95px;
  top: 30px;
  width: 300px;
}

.daisy {
  left: 95px;
  top: 30px;
}

.flower {
  right: 40px;
  bottom: 100px;
}

.flowerr {
  top: 100px;
  right: 78px;
}

.flowerrr {
  top: 70px;
  left: 50px;
}

.pink {
  left: 215px;
  bottom: 35px;
}

.rose {
  left: 110px;
  top: 90px;
}

.daisy, .flower, .flowerr, .flowerrr, .pink, .rose {
  width: 50px;
  position: relative;
  animation-name: flowers;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes flowers {
  0% {
    transform: none;
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
}